<ngx-loading [show]="false"></ngx-loading>
<div class="animated fadeIn">
  <div class="row row-menu">
    <div class="top-menu col-12">
      <div id="dashboard-menu" class="menu-body">
        <div class="item-menu active-menu col-4 col-sm-3 col-lg-1">
          <div class="icon">
            <i class="fa fa-table"></i>
          </div>
          <span>Forms</span>
      </div>

          <div class="item-menu col-4 col-sm-3 col-lg-1">
          <div class="icon" [routerLink]="['/admin/form/management/add']">
            <i class="fa fa-plus"></i>
          </div>
          <span>Add Form</span>
          </div>
      <div class="col-12 col-lg-10">
        <app-filter-options [activeUserProgramRole]="currentUser?.activeUserProgramRole"
          [filterConfig]="formFilterConfig" [defaultFilterValues]="defaultFilterValues"
          (filterValues)="fetchFilterValues($event)" (filterLoaded)="setFilterLoaded($event)"></app-filter-options>
      </div>
    </div>
  </div>
</div>
<div class="row animated fast fadeIn after-menu">
  <div class="col-12 custom-table-card">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-list-alt top-view"></i> Form List
        <div class="card-actions">
          <a class="btn-setting cursor-pointer text-center" [routerLink]="['/admin/form/management']" tooltip="Add New Form"
            placement="top">
            <i class="icon-plus"></i></a>
        </div>
      </div>
      <div class="card-body">
        <app-admin-form-table [activeUserProgramRole]="currentUser?.activeUserProgramRole" [filterValues]="filterValues"
          [isFilterLoaded]="isFilterLoaded"></app-admin-form-table>
      </div>
    </div>
  </div>
</div>
</div>