<ngx-loading [show]="loading" ></ngx-loading>
<div id="CSOGroup-table">
  <ngx-datatable
    class="bootstrap"
    [messages]="{totalMessage:'CSOGroup Found'}"
    [rows]="rows"
    [rowHeight]="'auto'"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    [externalSorting]="true"
    [loadingIndicator]="loading"
    (sort)="onSort($event)"
    (page)='setPage($event)' >

    <ngx-datatable-column name="name" prop="name" sortable="true" [flexGrow]="5" [minWidth]="100">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">CSO Name</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span>{{ value ? value : 'No Entry' }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="description" prop="description" sortable="true" [flexGrow]="5">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">Description</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span class="hidden-md-down">{{ value ? value : 'No Entry' }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="privacy" prop="privacy" sortable="true" [flexGrow]="5">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">Privacy</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span class="hidden-md-down">{{ value ? value : 'No Entry' }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="objectId" prop="objectId" [flexGrow]="2">
      <ng-template let-column="column" ngx-datatable-header-template>
        <span>Actions</span>
      </ng-template>

      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button type="button" class="btn btn-sm btn-outline-info">
          <i class="fa fa-pencil"></i>
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger"><i class="fa fa-remove"></i></button>
      </ng-template>

    </ngx-datatable-column>
  </ngx-datatable>
</div>
