<div class="animated fadeIn">
  <div class="row row-menu">
    <div class="top-menu col-12">
      <div id="dashboard-menu" class="menu-body">
        <div class="item-menu col-4 col-sm-3 col-lg-1 active-menu">
          <div class="icon">
            <i class="fa fa-table" aria-hidden="true"></i>
          </div>
          <span>List</span>
        </div>
        <div class="item-menu col-4 col-sm-3 col-lg-1">
          <div class="icon">
            <i class="fa fa-info-circle"></i>
          </div>
          <span>Details</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row animated fast fadeIn after-menu">
    <div id="cso-management-content" class="col-12">
      <app-admin-cso-table></app-admin-cso-table>
    </div>
  </div>
</div>