<div class="animated fadeIn">
  <div class="row row-menu">
    <div class="top-menu col-12">
      <div id="dashboard-menu" class="menu-body">
        <div class="item-menu col-12 col-sm-12 col-md-1 col-lg-1 active-menu">
          <div class="icon">
            <i class="fa fa-table" aria-hidden="true"></i>
          </div>
          <span>List</span>
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-11">
            <app-filter-options 
            [activeUserProgramRole]="currentUser?.activeUserProgramRole" 
            [filterConfig]="csoFilterConfig"
            [defaultFilterValues]="defaultFilterValues"
            (filterValues)="fetchFilterValues($event)"
            (filterLoaded)="setFilterLoaded($event)"></app-filter-options>
          </div>
      </div>
    </div>
  </div>
  <div class="row animated fast fadeIn after-menu">
    <div id="cso-management-content" class="col-12">
      <div class="row animated fast fadeIn">
        <div class="col-12 custom-table-card">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-list-alt top-view"></i> CSO List
              <div class="card-actions">
                <a *ngIf="currentUser?.activeUserProgramRole && currentUser?.activeUserProgramRole.role.name === 'ProjectAdmin'"
                  class="btn-setting cursor-pointer" [queryParamsHandling]="preserve" [routerLink]="['/admin/project-management', 'create']"
                  tooltip="Add New Project" placement="top">
                  <i class="icon-plus"></i></a>
                <a class="btn-setting cursor-pointer" tooltip="Import Project(s)" placement="top"><i class="icon-cloud-download"></i></a>
                <a class="btn-setting cursor-pointer" tooltip="Export Project(s)" placement="top"><i class="icon-cloud-upload"></i></a>
              </div>
            </div>
            <div class="card-body">
              <app-admin-cso-table [activeUserProgramRole]="currentUser?.activeUserProgramRole" [filterValues]="filterValues"
              [isFilterLoaded]="isFilterLoaded"></app-admin-cso-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>