<ngx-loading [show]="loading" ></ngx-loading>
<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <form #loginForm="ngForm" (keydown.enter)="submit()" (ngSubmit)="submit()">

                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout"><span [innerHtml]="alert.msg"></span></alert>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text"
                  name="username"
                  #usernameElement
                  [(ngModel)]="username"
                  required
                  minlength="6"
                  class="form-control" placeholder="Username">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password"
                  name="password"
                  #passwordElement
                  [(ngModel)]="password"
                  placeholder="password"
                  required
                  minlength="6"
                  maxlength="20"
                  class="form-control" placeholder="Password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary px-4" [disabled]="!loginForm.form.valid" (click)="submit()">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <a [routerLink]="['/forgot-password']" class="btn btn-link px-0" >Forgot password?</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card description text-white py-1 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Development LIVE</h2>
                <p>Achieving SDGs in Infrastructure through Local Integrity, Innovation &amp; Citizen Empowerment.</p>
              </div>
              <div class="desc-logo">
                <img src="/assets/img/agency-logo/UNDP-logo-V.png" alt="UNDP-logo" class="undp">
                <div class="agency">
                  <div><img src="/assets/img/agency-logo/DILG-logo.png" alt="DILG-logo" class="dilg"></div>
                  <div><img src="/assets/img/agency-logo/DEPED-logo.png" alt="DEPED-logo" class="deped"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
