<form [formGroup]="userRolesForm" #createUserRolesForm="ngForm" class="custom-form animated fadeIn">
    <h1 class="text-center">Roles and Permissions</h1>
    <fieldset class="form-group program-roles border border-dark container mb-4">
      <legend class="p-1">Program Roles</legend>
      <div class="form-group row ml-2">
          <div class="col-lg-3 col-md-6 col-xs-12 my-2 order-1">
              <select class="form-control form-control-sm col" formControlName="role" name="role" id="select-roles" aria-placeholder="Roles">
                  <option value="" disabled selected>Roles</option>
                  <option *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
              </select>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 my-2 order-2">
              <select class="form-control form-control-sm col" formControlName="access" name="access" id="select-access" (change)="onFieldChange()" aria-placeholder="Access">
                <option value="" disabled selected>Access Level</option>
                <option *ngFor="let level of levels" [ngValue]="level">{{ level.name }}</option>
              </select>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 my-2 order-3">
              <select class="form-control form-control-sm col" formControlName="cso" name="cso" id="select-cso" aria-placeholder="CSO">
                <option value="" disabled selected>CSO Group</option>
                <option *ngFor="let group of csoGroups" [ngValue]="group">{{ group.name }}</option>
              </select>
          </div>
          
          <div class="w-100"></div>
          <div class="col-lg-3 col-md-6 col-xs-12 my-2 order-5">
              <select *ngIf="!isNational && enableRegional" class="form-control form-control-sm col" formControlName="region" name="region" id="select-region" aria-placeholder="Region">
                <option value="" disabled selected>Region</option>
                <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
            </select>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 my-2 order-6">
              <select *ngIf="!isNational && enableProvincial" class="form-control form-control-sm col" formControlName="province" name="province" id="select-province" aria-placeholder="Province">
                <option value="" disabled selected>Province</option>
                <option *ngFor="let province of provinces" [ngValue]="province">{{ province.name }}</option>
              </select>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 my-2 order-7">
              <select *ngIf="!isNational && enableMunicipal" class="form-control form-control-sm col" formControlName="municipality" name="municipality" id="select-municipality" aria-placeholder="Municipality">
                <option value="" disabled selected>Municipalities</option>
                <option *ngFor="let municipality of municipalities" [ngValue]="municipality">{{ municipality.name }}</option>
              </select>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 my-2 d-flex justify-content-around order-lg-4 order-9">
              <label class="switch mx-auto">
                  <input type="checkbox" id="aToggle" formControlName="status">
                  <span class="slider round"></span>
              </label>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 my-2 d-flex justify-content-around order-10">
              <button type="button" class="btn bg-success text-white rounded-circle" (click)="pushValues()"><i class="fa fa-plus"></i></button>
          </div>
      </div>
    </fieldset>
  
    <!-- TODO: Display non mock data -->
    <table class="table table-responsive w-100">
        <thead>
            <tr>
                <th scope="col">Role</th>
                <th scope="col">Access Level</th>
                <th scope="col" class="d-none d-lg-table-cell">CSO Group</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Project Admin</td>
                <td>National</td>
                <td class="d-none d-lg-table-cell">N/A</td>
                <td>N/A</td>
                <td>
                    <label class="switch mx-auto">
                        <input type="checkbox" id="aToggle">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-info"
                        [routerLink]="['/admin/settings/user-management', value]">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="deactivateUserModal(value)"><i class="fa fa-remove"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
  </form>
  