#user-details {
    .round-tab
    {
        border-radius: 12px;
    }

    .card {
        border:0;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
        min-height: 400px;
    }
    .body-container {
        // color: #FFF;
        .card {
            background-color: #FF0010;
            
            .nav, > h3
            {
                color: #FFF;
            }
        }
        .nav.nav-tabs{
            border-bottom: 0;
            .nav-item {
                @media (max-width: 575px) {
                    flex-grow: 1;
                    text-align: center;
                }
                .nav-link {
                    border:0;
                    transition: all 0.2s ease;
                    &.active:hover{
                        color: #FF0010;
                    }
                    &.active {
                        border-bottom: 2px solid #FF0010;
                        color: #FF0010;
                        border: 0;
                        font-weight: 500;
                    }
                    &:hover {
                        color: #FFF;
                        cursor: pointer;
                    }
                }
            }
        }

        .tab-content {
            margin-top: 10px;
            padding: 20px;
            border: 0;
            min-height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
