.vertical{
    margin-top: 25%;
}

.bigIcon { font-size: 150px;
    opacity: .4;}
    
.position {
    margin-top:-80px;
}

.card {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-height: 400px;
}