<ngx-loading [show]="loading" ></ngx-loading>
<div id="forgot-password" class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <form #forgotPasswordForm="ngForm" (keydown.enter)="submit()" (ngSubmit)="submit()">
                <h1>Forgot Password</h1>
                <p class="text-muted">Send a reset password link to your email</p>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-envelope"></i></span>
                  <input type="email"
                  name="email"
                  #emailElement
                  [(ngModel)]="email"
                  [email]="true"
                  required
                  class="form-control"
                  placeholder="Email">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary px-4" [disabled]="!forgotPasswordForm.form.valid || disableSubmitButton" (click)="submit()">Send</button>
                  </div>
                  <div class="col-6 text-right">
                      <button type="button" class="btn btn-sm btn-link" (click)="back()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
