<form [formGroup]="csoGroupForm" class="custom-form animated fadeIn">
    <div class="col-md-8 ml-md-auto mr-md-auto">  
      <div class="form-group row mt-3">
        <label class="col-md-4 form-control-label required ">CSO Group Name:</label>
        <div class="col-md-8">
          <input name="csoGroupName" 
          class="form-control form-control-sm" 
          formControlName="csoGroupName" 
          type="text" 
          minlength="4"
          maxlength="50"
          (keyup)="onFieldChange()"
          placeholder="CSO Group Name" 
          >
              <div class="error-msg" 
              *ngIf="isFieldInvalid('csoGroupName') && csoGroupForm.get('csoGroupName').hasError('required')">
              CSO Group Name is required
              </div>
              <div class="error-msg" 
              *ngIf="!csoGroupForm.get('csoGroupName').hasError('required') && 
              (csoGroupForm.get('csoGroupName').hasError('isNotAlphabetOnly') || 
              csoGroupForm.get('csoGroupName').hasError('isWhiteSpaceOnly'))">
              Please input a valid CSO Group Name 
              </div>
              <div class="error-msg" 
              *ngIf=" csoGroupForm.get('csoGroupName').hasError('isWhiteSpaceOnly') || csoGroupForm.get('csoGroupName').hasError('minlength')">
              Minimum of 4 characters
              </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 form-control-label required">Description:</label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" 
          formControlName="csoDescription" 
          type="text"  
          placeholder="Description" 
          minlength="10"
          maxlength="70"
          (keyup)="onFieldChange()"
          >
              <div class="error-msg" 
              *ngIf="csoGroupForm.get('csoDescription').hasError('minlength')">
              Minimum of 10 characters
              </div>
              <div class="error-msg" 
              *ngIf="isFieldInvalid('csoDescription') && csoGroupForm.get('csoDescription').hasError('required')">
              Description is required
              </div>
              <div class="error-msg" 
              *ngIf="!csoGroupForm.get('csoDescription').hasError('required') && 
              (csoGroupForm.get('csoDescription').hasError('isNotAlphabetOnly') || 
              csoGroupForm.get('csoGroupName').hasError('isWhiteSpaceOnly'))">
              Please input a valid description 
              </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 form-control-label required">Privacy:</label>
        <div class="col-md-8">
          <select class="custom-select custom-select-md w-100 cso-group-input" formControlName="csoPrivacy">
            <option value="" selected="selected" hidden>Privacy</option>
            <option value="private">Private</option>
            <option value="open">Open</option>
          </select>
          <div class="error-msg" 
          *ngIf="csoGroupForm.controls['csoPrivacy'].touched && csoGroupForm.controls['csoPrivacy'].invalid">
          Privacy is required
          </div>
        </div>
      </div>

    </div>
  </form>
<form [formGroup]="csoAccessLevelForm">
  <div class="row-fluid d-flex justify-content-center pb-3" id="dd-container">
    <div class="col-10 card pt-3 pb-2">
        <div class="card-header mb-3" id="cso-group-header">
            <h6>CSO Access Level</h6>
        </div>
      <div class="row-fluid d-flex justify-content-center">
          <select disabled class="custom-select custom-select-md cso-group-input" formControlName="csoAgencyProgram">
            <option value="" >Agency Program</option>
          </select>
      </div>
      <div class="row-fluid d-flex justify-content-center">
          <select class="mr-auto ml-auto custom-select custom-select-md cso-group-input" formControlName="csoAccessLevel" (change)="selectAccessLevel($event.target.value)">
            <option value="">Access Level</option>
            <option *ngFor="let accesslevel of accesslevels" value="{{ accesslevel.objectId }}"> {{ accesslevel.name }} </option>
          </select>
      </div>
      <div class="row-fluid d-flex justify-content-center">
        <div class="errorbox error-msg" 
        *ngIf="csoAccessLevelForm.controls['csoAccessLevel'].touched && csoAccessLevelForm.controls['csoAccessLevel'].invalid">
        Access Level is required
        </div>
      </div>
      <div class="row-fluid d-flex justify-content-center" *ngIf="showDivs.showRegionDiv">
          <select class="custom-select custom-select-md cso-group-input" formControlName="region" (change)="selectedRegion($event.target.value)">
            <option value="" >Region</option>
            <option *ngFor="let region of regions" value="{{ region.objectId }}">{{ region.name }}</option>
          </select>
       </div>
       <div class="row-fluid d-flex justify-content-center" *ngIf="showDivs.showRegionDiv">
          <div class="errorbox error-msg" 
          *ngIf="csoAccessLevelForm.controls['region'].touched && csoAccessLevelForm.controls['region'].invalid">
          Region is required
          </div>
       </div>
      <div class="row-fluid d-flex justify-content-center" *ngIf="showDivs.showProvinceDiv">
          <select class="custom-select custom-select-md cso-group-input" formControlName="province" (change)="selectedProvince($event.target.value)">
            <option value="" >Province</option>
            <option *ngFor="let province of provinces" value="{{ province.objectId }}">{{ province.name }}</option>
          </select>
      </div>
      <div class="row-fluid d-flex justify-content-center" *ngIf="showDivs.showProvinceDiv">
        <div class="errorbox error-msg" 
        *ngIf="csoAccessLevelForm.controls['province'].touched && csoAccessLevelForm.controls['province'].invalid">
        Province is required
        </div>
     </div>
      <div class="row-fluid d-flex justify-content-center" *ngIf="showDivs.showMunicipalDiv">
          <select class="custom-select custom-select-md cso-group-input" formControlName="municipality" (change)="selectedMunicipality($event.target.value)">
            <option value="" >Municipality</option>
            <option *ngFor="let municipality of municipalities" value="{{ municipality.objectId }}">{{ municipality.name }}</option>
          </select>
      </div>
      <div class="row-fluid d-flex justify-content-center" *ngIf="showDivs.showMunicipalDiv">
        <div class="errorbox error-msg" 
        *ngIf="csoAccessLevelForm.controls['municipality'].touched && csoAccessLevelForm.controls['municipality'].invalid">
        Municipality is required
        </div>
     </div>
      <div class="row-fluid d-flex justify-content-center" *ngIf="showDivs.showBarangayDiv">
          <select class="custom-select custom-select-md cso-group-input" formControlName="barangay" (change)="selectedBarangay($event.target.value)" >
            <option value="" >Barangay</option>
            <option *ngFor="let barangay of barangays" value="{{ barangay.objectId }}">{{barangay.name}}</option>
          </select>
      </div>
      <div class="row-fluid d-flex justify-content-center" *ngIf="showDivs.showBarangayDiv">
        <div class="errorbox error-msg" 
        *ngIf="csoAccessLevelForm.controls['barangay'].touched && csoAccessLevelForm.controls['barangay'].invalid">
        Barangay is required
        </div>
     </div>
      <div class="row-fluid d-flex justify-content-end">
          <button class=" mx-5 my-2 bg-primary save px-4 py-2" (click)="saveAccessLevel()"  [disabled]="!csoAccessLevelForm.valid">Add Access Level</button>
      </div>
    </div>
  </div>  
  <!-- {{ csoAccessLevelForm.value | json}} -->
</form>

  <div class="row-fluid d-flex justify-content-center" *ngIf="this.accessLevelList.length !=0">
      <div class="col-10 card pt-3 pb-2">
       <table class="table table-responsive borderless w-100">
          <thead class="card-header mb-3">
            <th>Agency</th>
            <th>Program Code</th>
            <th>Access Level</th>
            <th>Location</th>
            <th>Status</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor="let accessLevel of accessLevelList">
              <td>none</td>
              <td>AM(sample)</td>
              <td>{{ accessLevel.level.name}}</td>
              <td *ngIf="!accessLevel.region?.name">ALL</td>
              <td *ngIf="accessLevel.region?.name"><strong>{{ accessLevel.region?.name }}</strong> {{ accessLevel.province?.name }} {{ accessLevel.municipality?.name }}{{ accessLevel.barangay?.name }}</td>
              <td>
                <div class="cso-group-input">
                  <mat-slide-toggle class = "tp-margin">
                  </mat-slide-toggle>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-sm btn-outline-info" 
                tooltip="Edit"
                placement="top">
                  <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger" 
                tooltip="Delete"
                placement="top">
                  <i class="fa fa-minus-circle"></i>
                </button>
              </td>
            </tr>
          </tbody>
       </table>
      </div>
    </div>
  <div class="row-fluid d-flex justify-content-center">
    <div class="button-container d-flex justify-content-end">
        <button type="submit" class="save my-3 bg-primary px-4 py-2" [disabled]="!csoGroupForm.valid">Save</button>
    </div>
  </div>