select{
    padding:5px 10px;
    font-size: 15px;
    border-radius: 5px;
    option{
        padding: 15px 5px 15px 10px;
    }
}
.form-control:invalid{
    // border-color: red;
}
// thead{
//     border-bottom: 2px solid black;
// }

.save{
    border:0;
}
.save:active{
    opacity: 0.7;
}

.button-container, .table-container{
    width: 90%;
}

table{
    border-collapse: collapse;
    border-top:0px;
}
td, th,td{
    padding:5px;
    text-align: center;

}
.borderless td, .borderless th {
    border: none;
}
thead{
    // border-bottom: 2px solid black;
    // background: red;
    // border-radius: 10px;
}

#dd-container select{
    width: 80%;
    margin:7px 0px;
}
.save:disabled{
    opacity:0.5;
}
.errorbox{
 width:80%;
}
// .card > div:first-child{
//     margin-top:15px;
// }