<form [formGroup]="userProfileForm" #createUserForm="ngForm" class="custom-form animated fadeIn" novalidate>
    <div class="form-group row">
    <h3 class="col-md-12 my-4 text-dark text-center">Profile Information</h3>
      <label class="col-md-4 form-control-label required">First Name</label>
      <div class="col-md-8">
        <input 
          class="form-control form-control-sm" 
          formControlName="firstName" 
          type="text" 
          maxlength="50"
          (keyup)="onFieldChange()"
          placeholder="First Name">
        <div class="error-msg" 
          *ngIf="isFieldInvalid('firstName') && userProfileForm.get('firstName').hasError('required')">
          First name is required
        </div>
        <div class="error-msg" 
          *ngIf="!userProfileForm.get('firstName').hasError('required') && 
          (userProfileForm.get('firstName').hasError('isNotAlphabetOnly') || 
          userProfileForm.get('firstName').hasError('isWhiteSpaceOnly'))">
          Please input a valid first name
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 form-control-label">Middle Name</label>
      <div class="col-md-8">
        <input class="form-control form-control-sm" 
          formControlName="middleName" 
          type="text" 
          maxlength="50"
          (keyup)="onFieldChange()"
          placeholder="Middle Name">
        <div class="error-msg" 
          *ngIf="!userProfileForm.get('middleName').hasError('required') && 
          (userProfileForm.get('middleName').hasError('isNotAlphabetOnly') || 
          userProfileForm.get('middleName').hasError('isWhiteSpaceOnly'))">
          Please input a valid middle name
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 form-control-label required">Last Name</label>
      <div class="col-md-8">
        <input class="form-control form-control-sm" 
          formControlName="lastName" 
          type="text" 
          maxlength="50"
          (keyup)="onFieldChange()"
          placeholder="Last Name">
        <div class="error-msg" 
          *ngIf="isFieldInvalid('lastName') && userProfileForm.get('lastName').hasError('required')">
          Last name is required  
        </div>
        <div class="error-msg" 
          *ngIf="!userProfileForm.get('lastName').hasError('required') && 
          (userProfileForm.get('lastName').hasError('isNotAlphabetOnly') || 
          userProfileForm.get('lastName').hasError('isWhiteSpaceOnly'))">
          Please input a valid last name
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 form-control-label required">Occupation</label>
      <div class="col-md-8">
        <input class="form-control form-control-sm" 
          formControlName="occupation" 
          type="text" 
          maxlength="50"
          (keyup)="onFieldChange()"
          placeholder="Occupation">
        <div class="error-msg" 
          *ngIf="isFieldInvalid('occupation') && userProfileForm.get('occupation').hasError('required')">
          Occupation is required  
        </div>
        <div class="error-msg" 
          *ngIf="!userProfileForm.get('occupation').hasError('required') && 
          (userProfileForm.get('occupation').hasError('isNotAlphabetOnly') || 
          userProfileForm.get('occupation').hasError('isWhiteSpaceOnly'))">
          Please input a valid occupation
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 form-control-label required">Mobile No.</label>
      <div class="col-md-8">
        <input 
          class="form-control form-control-sm" 
          formControlName="mobileNumber" 
          type="text" 
          maxlength="13"
          (keyup)="onFieldChange()"
          placeholder="Mobile Number">
        <div class="error-msg" 
          *ngIf="isFieldInvalid('mobileNumber') && userProfileForm.get('mobileNumber').hasError('required')">
          Mobile number is required  
        </div>
        <div class="error-msg" 
          *ngIf="isFieldInvalid('mobileNumber') && !userProfileForm.get('mobileNumber').hasError('required') && 
          userProfileForm.get('mobileNumber').hasError('isMobileInvalid')">
          Please input a valid PH mobile number format
        </div>
        <div class="error-msg"
          *ngIf="isFieldInvalid('mobileNumber') && userProfileForm.get('mobileNumber').hasError('mobileNumberTaken')">
          Mobile number is already taken
        </div>
      </div>
    </div>

    <div class="form-group row">
        <h3 class="col-md-12 my-4 text-dark text-center">Address Information</h3>
          <label class="col-md-4 form-control-label required">Street Name</label>
          <div class="col-md-8">
            <input 
              class="form-control form-control-sm" 
              formControlName="streetName" 
              type="text" 
              maxlength="50"
              (keyup)="onFieldChange()"
              placeholder="Street Name">
            <div class="error-msg" 
              *ngIf="isFieldInvalid('streetName') && userProfileForm.get('streetName').hasError('required')">
              Street name is required
            </div>
            <div class="error-msg" 
              *ngIf="!userProfileForm.get('streetName').hasError('required') && 
              (userProfileForm.get('streetName').hasError('isNotAlphabetOnly') || 
              userProfileForm.get('streetName').hasError('isWhiteSpaceOnly'))">
              Please input a valid Street name
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 form-control-label">Street Number</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" 
              formControlName="streetNumber" 
              type="text" 
              maxlength="50"
              (keyup)="onFieldChange()"
              placeholder="Street Number">
            <div class="error-msg" 
              *ngIf="isFieldInvalid('streetName') && userProfileForm.get('streetNumber').hasError('required')">
              Street Number is required
            </div>
            <div class="error-msg" 
              *ngIf="!userProfileForm.get('streetNumber').hasError('required') && 
              (userProfileForm.get('streetNumber').hasError('isNotAlphabetOnly') || 
              userProfileForm.get('streetNumber').hasError('isWhiteSpaceOnly'))">
              Please input a valid Street Number
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 form-control-label required">Region</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" 
              formControlName="region" 
              type="text" 
              maxlength="50"
              (keyup)="onFieldChange()"
              placeholder="Region">
            <div class="error-msg" 
              *ngIf="isFieldInvalid('region') && userProfileForm.get('region').hasError('required')">
              Region is required  
            </div>
            <div class="error-msg" 
              *ngIf="!userProfileForm.get('region').hasError('required') && 
              (userProfileForm.get('region').hasError('isNotAlphabetOnly') || 
              userProfileForm.get('region').hasError('isWhiteSpaceOnly'))">
              Please input a valid region
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 form-control-label required">Province</label>
          <div class="col-md-8">
            <input class="form-control form-control-sm" 
              formControlName="province" 
              type="text" 
              maxlength="50"
              (keyup)="onFieldChange()"
              placeholder="Province">
            <div class="error-msg" 
              *ngIf="isFieldInvalid('province') && userProfileForm.get('province').hasError('required')">
              Province is required  
            </div>
            <div class="error-msg" 
              *ngIf="!userProfileForm.get('province').hasError('required') && 
              (userProfileForm.get('province').hasError('isNotAlphabetOnly') || 
              userProfileForm.get('province').hasError('isWhiteSpaceOnly'))">
              Please input a valid province
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 form-control-label required">Municipality</label>
          <div class="col-md-8">
            <input 
              class="form-control form-control-sm" 
              formControlName="municipality" 
              type="text" 
              maxlength="13"
              (keyup)="onFieldChange()"
              placeholder="Municipality">
            <div class="error-msg" 
              *ngIf="isFieldInvalid('municipality') && userProfileForm.get('municipality').hasError('required')">
              Municipality is required  
            </div>
            <div class="error-msg" 
              *ngIf="isFieldInvalid('municipality') && !userProfileForm.get('municipality').hasError('required') && 
              userProfileForm.get('municipality').hasError('isMunicipalityInvalid')">
              Please input a valid municipality
            </div>
          </div>
        </div>
  </form>